@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  color: "#3da9fc" !important;
  font-weight: 900 !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white !important;
  border-radius: 100% !important;
  padding: 20px !important;
}

.mySwiper {
  padding: 0 20px;
}

.mySwiper .swiper-slide {
  height: auto;
}

.mySwiper .swiper-wrapper {
  align-items: stretch;
}